{% extends "site/components/_base.html.twig" %}
{% block title %}
	{{ h1 }}
{% endblock %}
{% block body %}
    {% dump(technologiesFamilies) %}
	<h1 class="col-12 text-center my-5">{{ h1 }}</h1>

    <div class="row g-0 justify-content-center mb-5">
        <div class="col-11 col-sm-9 col-md-8 col-xl-7 px-xxl-3">
            Construire un site internet c'est utilisé et jonglé entre plusieurs languages...
            <ul>
                <li>Mise en page du texte et "du décor". (Frontend)</li>
                <li>Mise en place de la base de données.</li>
                <li>Echange d'informations avec une base de données. (Backend)</li>
                <li>Utilisation de Framework. (solutions toutes faites ou presque)</li>
                <li>Versionner le site pour pouvoir revenir en arrière si besoin.</li>
            </ul>
        </div>
    </div>


	<div class="row g-0 justify-content-center mb-5">
        {% for technologyFamily in technologiesFamilies %}
            <div class="jumbotron col-11 col-sm-9 col-md-8 col-xl-7 px-xxl-3 shadow rounded mb-4 p-4">
                <h2 class="display-6">{{ technologyFamily.name }}</h2>
                <p class="small">{{ technologyFamily.description }}</p>
                <hr class="my-4">
                <ul class="list-group list-group-flush">
                    {% for technology in technologyFamily.technologies|sort((b, a) => a.knowledgeRate <=> b.knowledgeRate) %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <twig:ux:icon name="{{ technology.renderIconStringWithoutParentheses }}" class="technologyIconeSize"/></twig:ux:icon> {{ technology.name }}
                            </div>
                            <div class="progress col-8">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ technology.knowledgeRate }}%" aria-valuenow="{{ technology.knowledgeRate }}" aria-valuemin="0" aria-valuemax="100">{{ technology.knowledgeRate }} %</div>
                            </div>

                        </li>
                    {% endfor %}
                </ul>
            </div>

                
        {% endfor %}
	</div>

{% endblock %}
