{% extends "site/components/_base.html.twig" %}
{% block title %}Mes articles pour ne plus chercher sur Google !{% endblock %}
{% block body %}

    <h1 class="col-12 text-center mt-5">{{ h1 }}</h1>
    <p class="lead col-12 text-center small fst-italic">{{ lead | raw}}</p>

    <div class="row g-0 justify-content-start my-5">
        {% for category in categories %}
            {# some variables #}
            {% set articles = 'article' %}
            {% if category.articles | length > 1 %}
            {% set articles = 'articles' %}
            {% endif %}

                <article class="col-6 col-md-4 col-lg-3 col-xxl-2">
                    <div class="card col-11 col-sm-10 col-xxl-11 mx-auto">
                    <a href="{{ path('mapped_my_tricks', {categoryId: category.id, categorySlug: category.slug }) }}" class="_card_full_button"></a>
                    <div class="card-header text-center fw-bold">{{ category.articles | length }} {{ articles }}</div>
                    <twig:ux:icon name="{{ category.renderIconStringWithoutParentheses }}" class="card-img-top p-5 p-md-4"/></twig:ux:icon>
                        <div class="card-footer small text-end fst-italic d-flex flex-wrap">
                            <div class="col-12">Mise à jour le: {{ category.updatedAt ? category.updatedAt | date("d/m/Y") : "Bientôt..." }}</div>
                        </div>
                    </div>
                </article>
        {% endfor %}
    </div>

    {{ knp_pagination_render(categories, 'site/components/_pagination.html.twig') }}

{% endblock %}