{% extends 'site/components/_base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center my-5">
        <div class="card shadow p-4 p-md-5 col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <div class="card-body">
                <h1 class="card-title text-center text-primary fw-bold mb-4">Se connecter</h1>
                <p class="card-text text-center text-muted mb-4">
                    Connectez-vous pour accéder à votre espace personnel.
                </p>

                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    {% if app.user %}
                        <div class="alert alert-info mb-3">
                            Déjà connecté en tant que <span class="fw-bold">{{ app.user.userIdentifier }}</span>. <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                    {% endif %}

                    <div class="form-floating mb-3">
                        <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Adresse e-mail">
                        <label for="inputEmail">Adresse e-mail</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Mot de passe">
                        <label for="inputPassword">Mot de passe</label>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-lg btn-primary mt-3" type="submit">
                            Se connecter
                        </button>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}