{% extends "site/base.html.twig" %}
{% block title %}Mes réalisations{% endblock %}
{% block body %}

    <h1 class="col-12 text-center my-5">{{ h1 }}</h1>

    <div class="row g-0 justify-content-center">
        {% for project in projects %}
            <div class="jumbotron my-5 col-9">
                <h2 class="display-4">{{ project.name }}</h2>
                <p class="lead">{{ project.description }}</p>
                <img src="{{ vich_uploader_asset(project, 'imageFile') | imagine_filter('projectImage') }}" alt="Logo du site {{ project.name }}" />
                <hr class="my-4">
                <div class="row justify-content-center">
                    {% for technology in project.technologies %}
                        <twig:ux:icon name="{{ technology.renderIconStringWithoutParentheses }}" class="technologyIconeSize"/></twig:ux:icon>
                    {% endfor %}
                </div>
                <div class="col-12">
                    <a class="btn btn-primary btn-sm" href="{{ project.url }}" target="_blank" role="button">Voir le site</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}