<!DOCTYPE html>
<html lang="fr" data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>{% block title %}Je Développe{% endblock %}</title>

    {# Meta Description for SEO #}
    <meta name="description" content="{% block meta_description %}Je Développe, le petit site qui regroupe toutes mes diverses connaissances !{% endblock %}">

    {# Favicon for multiple devices #}
    <link rel="icon" type="image/png" href="{{ asset('favicon/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ asset('favicon/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ asset('favicon/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-title" content="JeDév" />
    <link rel="manifest" href="{{ asset('favicon/site.webmanifest') }}" />
    
    {% block stylesheets %}{% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('site') }}{% endblock %}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">

    {# BLOC NAVIGATION : On peut maintenant l'écraser #}
    {% block header %}
        {% include "./site/components/_nav.html.twig" %}
    {% endblock %}

    <main class="flex-grow-1">
        {% include "./site/components/_flash_message.html.twig" %}
        {% block body %}{% endblock %}
    </main>
    
    {# BLOC FOOTER : On peut maintenant l'écraser #}
    {% block footer %}
        {% include "./site/components/_footer.html.twig" %}
    {% endblock %}

    <script src="https://kit.fontawesome.com/39dfe16fa3.js" crossorigin="anonymous" async></script>
    
    {# BLOC ANALYTICS : Optionnel, si tu veux le désactiver sur certains CV #}
    {% block google_analytics %}
        {% include "site/components/_googleAnalytics.html.twig" %}
    {% endblock %}

</body>
</html>