<nav class="navbar navbar-expand-lg bg-primary mb-lg-5" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand me-auto me-lg-0" href="{{ path('site_home') }}">
            <img src="{{ asset('images/logoSite.png') }}" alt="Logo du site Je Développe">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbarCollapse" aria-controls="mainNavbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('site_my_knowledges') }}">Connaissances</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('site_my_projects') }}">Réalisations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('site_my_trainings') }}">Formations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('cv_liste') }}">CV(s)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('site_my_categories') }}">Blog</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user me-1"></i> Mon compte
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li><a class="dropdown-item" href="{{ path('admin') }}"><i class="fa-solid fa-gear me-2"></i> ADMIN</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('app_logout')}}"><i class="fa-solid fa-lock-open me-2 text-warning"></i> Déconnexion</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{{ path('app_login')}}"><i class="fa-solid fa-lock me-2 text-warning"></i> Se connecter</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item d-lg-flex d-none">
                    <a class="btn btn-outline-light rounded-pill ms-3" href="{{ path('site_contact') }}">
                        <i class="fa-solid fa-envelope me-2"></i> Contactez-moi !
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>