{% extends "site/components/_base.html.twig" %}
{% block title %}Mes réalisations{% endblock %}
{% block body %}

    <h1 class="col-12 text-center my-5">{{ h1 }}</h1>

    <div class="row g-0 justify-content-center mb-5">
        {% for project in projects %}
            <div class="jumbotron my-5 col-10 col-sm-9 col-md-7 shadow rounded p-4">
                <h2 class="display-5">{{ project.name }}</h2>
                <div class="col-12 d-flex flex-wrap justify-content-around align-item-center">
                    <img class="col-12 col-sm-6 col-md-2" src="{{ vich_uploader_asset(project, 'imageFile') | imagine_filter('projectImage') }}" alt="Logo du site {{ project.name }}" />
                    <div class="col-12 col-sm-6 col-md-8 d-flex justify-content-start align-items-center p-1">
                        {{ project.description | raw }}
                    </div>
                    <div class="col-12 col-md-2 d-flex justify-content-center align-items-center mt-4 mt-md-0">
                        {# some variable for the page #}
                        {% set disabled = "" %}
                        {% set textButtonToUrl = "Voir le site" %}
                        {% if project.url is null or project.endAt is null %}
                            {% set disabled = "disabled" %}
                            {% set textButtonToUrl = "En travaux..." %}
                        {% endif %}
                        <a class="btn btn-primary {{ disabled }} btn-sm" href="{{ project.url }}" target="_blank" role="button">{{ textButtonToUrl }}</a>

                    </div>
                </div>
                <hr class="mt-4">
                <div class="row justify-content-center">
                    {% for technology in project.technologies|sort((a, b) => a.orderOfAppearance <=> b.orderOfAppearance) %}
                        <twig:ux:icon name="{{ technology.renderIconStringWithoutParentheses }}" class="technologyIconeSize"/></twig:ux:icon>
                    {% endfor %}
                    <div class="col-12 small text-center">Début: {{ project.startedAt | date("d/m/Y") }} - Fin: {{ project.endAt ? project.endAt | date("d/m/Y") : "Toujours en travaux..." }}</div>
                </div>
            </div>
        {% endfor %}
    </div>

    {{ knp_pagination_render(projects, 'site/components/_pagination.html.twig') }}

{% endblock %}